{
  "presets": [
    ["env", {
      "targets": {
        "ie10": true,
        "chrome": 45
      },
      "uglify": true,
    }]
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
   ],
   "comments": false
}
